{include file='src/view/header.html'}

<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

        <a href="{$url_base}/Demandeur/list" class="btn btn-primary"> <i class="fas fa-arrow-left"></i> </a>

        <div class="page-header">


            <h2 class="pageheader-title " align="center">Ajouter un demandeur</h2>




        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->




<!-- ############################################################################################## -->







<div class="splash-container">
    <div class="card ">
        <div class="card-body">
            <form action="insert" method="post" class="needs-validation">
                <div class="row">
                    <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <label for="validationCustomUsername">Numéro</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">#</span>
                            </div>
                            <input type="text" class="form-control" value="AA-###" name="numero"
                                aria-describedby="inputGroupPrepend" readonly>
                        </div>
                    </div> -->




                    

                    <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                        <div class="form-group">
                            <label for="input-select">Profil</label>
                            <select name="id_profil" class="form-control" id="input-select" required>
                                <option value="">-Selectionner un profil-</option>
                                {foreach from = $listeProfil item= profil}

                                <option value="{$profil->getId()}"> {$profil->getLibelle()}
                                </option>
                                {/foreach}

                            </select>
                        </div>

                    </div> -->



                    <br>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="nom" required>

                    </div>
                    <br>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <label for="prenom">Prenom</label>
                        <input type="text" class="form-control" name="prenom" id="prenom" required>

                    </div>
                    <br>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                        <div class="form-group">
                            <label for="input-select">Ville</label>
                            <select name="idville" class="form-control" id="input-select" required>
                                <option value="">-Selectionner une ville-</option>


                                {foreach from = $listeVille item= ville}

                                <option value="{$ville->getId()}"> {$ville->getLibelle()}
                                </option>

                                {/foreach}

                            </select>
                        </div>

                    </div>
                    
                    <br>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                        <div class="form-group">
                            <label for="input-select">Domaine</label>
                            <select name="iddomaine" class="form-control" id="input-select" required>
                                <option value="">-Selectionner un domaine-</option>


                                {foreach from = $listeDomaine item= domaine}

                                <option value="{$domaine->getId()}"> {$domaine->getLibelle()}
                                </option>

                                {/foreach}

                            </select>
                        </div>

                    </div>
                    <br>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <label for="adresse">Adresse</label>
                        <input type="text" class="form-control" name="adresse" id="adresse" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <br>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <label for="mail">Email</label>
                        <input type="text" class="form-control" name="email" id="email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <br>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <label for="tel">Telephone</label>
                        <input type="text" class="form-control" name="tel" id="tel" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <br>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <label for="datenaiss">Date de naissance</label>
                        <input type="date" class="form-control" name="datenaiss" id="datenaiss" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" name="cv" id="customFile">
                            <label class="custom-file-label" for="customFile">Ajouter un CV</label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" name="photo" id="customFile">
                            <label class="custom-file-label" for="customFile">Ajouter une photo</label>
                        </div>
                    </div>
                    <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <label for="tel">Telephone</label>
                        <input type="text" class="form-control" name="tel" id="tel" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div> -->

                </div>
                <br>
                <br>



                <button name="save" class="btn btn-primary" type="submit">Ajouter</button>
            </form>
        </div>


    </div>
</div>

{include file='src/view/footer.html'}